@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
body{
    font-size: 16px;
    background-color: brown;
    background-image: url("pexels-lucie-liz-3256807.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    overflow: hidden;
    
}

.navbar-brand{
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 80x;
    font-weight: bold;
}
#header-nav{
    border: 0;
    border-radius: 0;
}

.navbar-brand{
    padding-top: 25px;
}

a{
    font-size: 40px;
}
