@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
body{
    font-size: 16px;
    background-color: brown;
    background-image: url("pexels-lucie-liz-3256807.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

nav{
    background-color: #A67B5B;
}
.navbar-brand{
    padding-top: 25px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 80x;
    font-weight: bold;
}

 
    







a{
    font-size: 40px;
}
